<div class="row">
      <div class="left-part col-6">
            <div class="card border-secondary mb-3">
                  <div class="card-header">Cài đặt chung</div>
                  <div class="card-body text-secondary">
                        <div class="mb-1">
                              <span>Tùy chọn xuất bản PLL:</span>
                              <select>
                                    <option>Công khai</option>
                              </select>
                              <i class="fa fa-question-circle icon"></i>
                        </div>
                        <div class="mb-1">
                              <span>Ngôn ngữ sử dụng cho playlist:</span>
                              <select>
                                    <option>Tiếng Anh</option>
                              </select>
                              <i class="fa fa-question-circle icon"></i>
                        </div>
                        <div class="mb-1">
                              <span>Số lượng playlist trên kênh:</span>
                              <input class="form-control" type="number" value="1000">
                              <i class="fa fa-question-circle icon"></i>
                        </div>
                        <div class="mb-1">
                              <input type="checkbox" checked class="checkbox"> Tạo playlist liên tục đến hết từ khóa
                              <i class="fa fa-question-circle icon"></i>
                        </div>
                        <div class="mb-1">
                              <input type="checkbox" class="checkbox"> Bỏ qua key dễ bị xóa PLL do nguyên tắc cộng đồng
                              <i class="fa fa-question-circle icon"></i>
                        </div>
                  </div>
            </div>
            <div class="card border-secondary mb-3">
                  <div class="card-header">Cài đặt tìm kiếm video</div>
                  <div class="card-body text-secondary">
                        <div class="mb-1">
                              <span>Số lượng video cho mỗi playlist từ:</span>
                              <input class="form-control" type="number" value="30"> tới <input class="form-control" type="number"
                                    value="50">
                              <i class="fa fa-question-circle icon"></i>
                        </div>

                        <div class="mb-1">
                              <span>Sắp xếp video theo:</span>
                              <select>
                                    <option>Bộ liên quan từ khóa</option>
                              </select>
                              <i class="fa fa-question-circle icon"></i>
                        </div>

                        <div class="mb-1">
                              <span>Thời gian đăng video:</span>
                              <select>
                                    <option>1 năm trở lại đây</option>
                              </select>
                              <i class="fa fa-question-circle icon"></i>
                        </div>

                        <div class="mb-1">
                              <span>Thời lượng video:</span>
                              <select>
                                    <option>Không giới hạn</option>
                              </select>
                              <i class="fa fa-question-circle icon"></i>
                        </div>

                        <div class="mb-1">
                              <span>Chất lượng video:</span>
                              <select>
                                    <option>Mọi chất lượng</option>
                              </select>
                              <i class="fa fa-question-circle icon"></i>
                        </div>

                        <div class="mb-1">
                              <span>Live video:</span>
                              <select>
                                    <option>Bất kỳ</option>
                              </select>
                              <i class="fa fa-question-circle icon"></i>
                        </div>

                        <div class="mb-1">
                              <span>Kiểu video:</span>
                              <select>
                                    <option>Tất cả</option>
                              </select>
                              <i class="fa fa-question-circle icon"></i>
                        </div>
                  </div>
            </div>
            <div class="card border-secondary mb-3">
                  <div class="card-header">Cài đặt video của bạn</div>
                  <div class="card-body text-secondary">
                        <div>
                              <input type="radio" class="radio"> Không chèn video của bạn (có sẽ view chèn sau tại đây)
                        </div>
                        <div>
                              <input type="radio" class="radio" checked> Chèn video của bạn lúc tạo PLL tại đây)
                        </div>
                        <div>
                              Số lượng video của bạn cần thêm <input type="text" placeholder="10"> (max 10)
                              <i class="fa fa-question-circle icon"></i>
                        </div>
                        <div>
                              ID video của bạn, mỗi id mỗi hàng (Lấy ID)
                        </div>
                        <div>
                              <div class="title">
                                    Danh sách từ khóa đã bỏ qua:
                                    <i class="fa fa-question-circle icon"></i>
                              </div>
                              <div class="border">
                                    <textarea class="lined" rows="10" cols="53">Ngày qua phố thấy em khẽ nhìn 
Nhìn em bước nắng xuyên gót mềm 
Nhẹ bàn chân vui trên hè phố quen 
Lòng chợt thấy gió đang khẽ cười 
Nhẹ nhàng vui bước biết đâu người dõi theo 

Và ngày mới nắng buông hoa cười 
Rồi lại thấy bóng em tóc trần 
Nụ cười xinh em như chiều gió hương 
</textarea>
                              </div>
                              <div>
                                    <input type="checkbox" class="checkbox"> Tự chọn ID video của bạn ngẫu nhiên từ danh
                                    sách
                                    <i class="fa fa-question-circle icon"></i>
                              </div>
                              <div>
                                    <input type="checkbox" class="checkbox"> Thêm ID vào các vị trí ngẫu nhiên trên PLL
                                    <i class="fa fa-question-circle icon"></i>
                              </div>
                              <div>
                                    <input type="checkbox" class="checkbox" checked> Thêm 1 ID vào đầu PLL (vị trí số 1)
                                    <i class="fa fa-question-circle icon"></i>
                              </div>
                        </div>
                  </div>
            </div>
      </div>

      <!-- right part  -->
      <div class="right-part col-6">
            <div class="card border-secondary mb-3">
                  <div class="card-header">Từ khóa cho playlist (1 từ khóa tạo 1 PLL): <i class="fa fa-question-circle icon"></i></div>
                  <div class="card-body text-secondary">
                        <div class="border mb-1">
                              <textarea class="lined" rows="10" cols="53">Ngày qua phố thấy em khẽ nhìn 
Nhìn em bước nắng xuyên gót mềm 
Nhẹ bàn chân vui trên hè phố quen 
Lòng chợt thấy gió đang khẽ cười 
Nhẹ nhàng vui bước biết đâu người dõi theo 

Và ngày mới nắng buông hoa cười 
Rồi lại thấy bóng em tóc trần 
Nụ cười xinh em như chiều gió hương 
</textarea>
                        </div>

                        <div class="hot-key-word">
                              <span>Lấy key đang hot tại:</span>
                              <select>
                                    <option>Hoa Kỳ</option>
                              </select>
                              <button class="btn btn-sm btn-success">Lấy key</button>
                        </div>
                  </div>
            </div>
            <div class="card border-secondary mb-3">
                  <div class="card-header">Danh sách từ khóa đã sử dụng: <i class="fa fa-question-circle icon"></i></div>
                  <div class="card-body text-secondary">
                        <div class="border mb-1">
                              <textarea class="lined" rows="10" cols="53">Ngày qua phố thấy em khẽ nhìn 
Nhìn em bước nắng xuyên gót mềm 
Nhẹ bàn chân vui trên hè phố quen 
Lòng chợt thấy gió đang khẽ cười 
Nhẹ nhàng vui bước biết đâu người dõi theo 

Và ngày mới nắng buông hoa cười 
Rồi lại thấy bóng em tóc trần 
Nụ cười xinh em như chiều gió hương 
</textarea>
                        </div>
                        <button class="btn btn-sm btn-info">
                              Sửa từ khóa đã sử dụng
                        </button>
                        <button class="btn btn-sm btn-danger">
                              Xóa hết
                        </button>
                  </div>
            </div>

            <div class="card border-secondary mb-3">
                  <div class="card-header">Danh sách từ khóa đã bỏ qua: <i class="fa fa-question-circle icon"></i></div>
                  <div class="card-body text-secondary">
                        <div class="border mb-1">
                              <textarea class="lined" rows="10" cols="53">Ngày qua phố thấy em khẽ nhìn 
Nhìn em bước nắng xuyên gót mềm 
Nhẹ bàn chân vui trên hè phố quen 
Lòng chợt thấy gió đang khẽ cười 
Nhẹ nhàng vui bước biết đâu người dõi theo 

Và ngày mới nắng buông hoa cười 
Rồi lại thấy bóng em tóc trần 
Nụ cười xinh em như chiều gió hương 
</textarea>
                        </div>
                        <button class="btn btn-sm btn-info">
                              Sửa từ khóa đã bỏ qua
                        </button>
                        <button class="btn btn-sm btn-danger">
                              Xóa hết
                        </button>
                  </div>
            </div>
      </div>
</div>