<div id="login">
      <h1>
            <a href="https://quickauto.tools" title="Blog Quick Auto" tabindex="-1">Blog Quick Auto</a>
      </h1>
      <p class="message register">Đăng kí tại trang này</p>
      <form name="registerform" id="registerform" action="https://quickauto.tools/wp-login.php?action=register" method="post" novalidate="novalidate">
            <p>
                  <label for="user_login">Tên người dùng
                        <br>
                        <input name="user_login" id="user_login" class="input" value="" size="20" type="text">
                  </label>
            </p>
            <p>
                  <label for="user_email">Email
                        <br>
                        <input name="user_email" id="user_email" class="input" value="" size="25" type="email">
                  </label>
            </p>
            <p id="reg_passmail">Email xác nhận sẽ được gửi tới hộp thư của bạn.</p>
            <br class="clear">
            <input name="redirect_to" value="" type="hidden">
            <p class="submit">
                  <input name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Đăng kí" type="submit">
            </p>
      </form>

      <p id="nav">
            <a href="https://quickauto.tools/wp-login.php">Đăng nhập</a>
            |
            <a href="https://quickauto.tools/wp-login.php?action=lostpassword">Bạn quên mật khẩu?</a>
      </p>

      <p id="backtoblog">
            <a href="https://quickauto.tools/">← Quay lại Quick Auto</a>
      </p>

</div>