<div class="left-content">
      <div>
            <span>Kênh đang sử dụng: Howa Reeves </span><button class="btn btn-sm btn-primary">Chuyển kênh</button><br>
            <span>Tổng số playlist trên kênh: 134</span>
            <span>Serial đang sử dụng: 6asdfafqwwerq</span>
            <span>Vài playlist mới nhất trên kênh: </span>
            <div>
                  <div> <span class="link">Harry Potter Book 1 Audiobook Part 1</span> <span>[46 video]</span></div>
                  <div> <span class="link">Harry Potter Book 4 Part 1 Audible Audiobook</span> <span>[41 video]</span></div>
                  <div> <span class="link">Harry Potter Book 1 Part 2</span> <span>[35 video]</span></div>
                  <div> <span class="link">Harry Potter Book 1 Part 1 Audiobook</span> <span>[40 video]</span></div>
                  <div> <span class="link">Harry Potter Book 1 Listen Online</span> <span>[50 video]</span></div>
            </div>
            <span>Chào bạn! Hãy tùy chọn cấu hình (hoặc để mặc định), sau đó nhập các ID video của bạn (không bắt buộc) và danh sách từ khóa (bắt đầu) để bắt đầu.</span>
            <button class="btn btn-success">
                              Tạo Playlist
                        </button>
            <div class="success-message">{{message}}</div>
      </div>
      <div>
            <div class="tool-info-text">
                  <span>Tool đang được cập nhật nhiều tính năng mới. Xem thông báo mới nhất tại Group và hướng dẫn
                  sử dụng tại</span>
                  <div class="link">
                        Blog Quick Auto <sup>TM</sup>
                  </div>
            </div>
            <div class="empty-space">
            </div>
      </div>
</div>